body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    text-decoration: none !important;
}

ol,
ul {
    padding: 0;
    margin: 0 !important;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}


/* header-start */
#header-main {
    width: 100%;
    display: inline-block;
    background-color: red;
}

.header-top {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 90px;
    height: auto;
}

.search input {
    padding: 7px;
    border: 29px;
    background-color: #f8f9fb;

}

.search .fa {
    color: #ffffff;
    background-color: #4762d5;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding-right: 2px;
    border-radius: 20px;
    background-color: #f8f9fb;
    border: 1px solid #dee1e6;
}

.notifaction ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;
    
}
.notifaction img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #2589e9;
    padding: 2px;
}

.notifaction ul li a {
    color: #333;
}

.form-select {
    width: 22%;
    border: none;
    outline: none !important;
}

.header-bottom{
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 1px solid #dee1e6;
}
.dashboard {
    width: 100%;
    display: inline-block;
    border: 1px solid #dee1e6;
    
}
.dashboard ul{
    display: flex;
    justify-content:space-between;
}
.dashboard ul li{
    display: flex;
    border-right: 1px solid #dee1e6;
    width: 100%;
    justify-content: center;
}
.dashboard ul li:last-child{
    border: none;
}
.dashboard ul li a{
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    padding: 8px 8px;
    width:100%;
    text-align: center;
    
}
.dashboard ul li.active a{
    background-image: linear-gradient(to right, #1b7ce3, #1617b0);
    color: #fff;
    transition: all 0.4s;
    
}
.dashboard ul li.active a:hover{
    background-image: linear-gradient(to left, #1b7ce3, #1617b0);
    transition:to left, 0.3s;
}
.dashboard ul li a .fa{
    margin: 0 8px;
    font-size: 16px;
}

#dashboard-main{
    width: 100%;
    display: inline-block;
    background-color: #f1f2f7;
}
.dashboard-section-title h2{
    position: relative;
    padding-left: 22px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}
.dashboard-section-title h2::before{
    position: absolute;
    content: "";
    background-color: #4863d6;
    width: 5px;
    height: 21px;
    left: 0;
    top: 0;
}
.dashboard-section-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.ethereum-main.visitors .ethereum-content {
    width: 100%;
    padding: 50px 10px;
    text-align: center;
    
}
.ethereum-main.visitors .ethereum-content h3 {
    font-size: 40px;
    font-weight: 400;
}
.ethereum-main.visitors .ethereum-content h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0 20px 0;
    FONT-VARIANT: 10px;
}
.ethereum-main.visitors .ethereum-content p {
    font-size: 14px;
}
.dashboard-nav ul{
    display: flex;
    column-gap: 10px;
}
.dashboard-nav ul li{
    color: #dee1e6;
}
.dashboard-nav ul li a{
    color: #666;
}
.dashboard-nav ul li a.active{
    color: #1a84e7;
}


.product-parchesh-main{
    width: 100%;
    display: inline-block;
    border: 1px solid #dee1e6;
}
.product{
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
    padding: 20px 0 20px 25px;
    border-bottom: 1px solid #dee1e6;
    
}
.product h3{
    
    color: #000;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase; 
}
.item-deatils{
    border-bottom: 1px solid #dee1e6;
    padding: 10px 0;
}
.item-deatils ul{
    display: flex;
    max-width: 506px;
    width: 100%;
    justify-content: end;
    margin-right: 0 !important;
    margin-left: auto !important;
}
.item-deatils ul li {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
}
.item-deatils ul li:nth-child(1){
    max-width: 176px;
}
.item-deatils ul li:nth-child(2){
    max-width: 73px;
}
.item-deatils ul li:nth-child(3){
    max-width: 208px;
}
.item-deatils ul li:nth-child(4){
    max-width: 75px;
}
/* .item-deatils ul li:nth-child(3){
    padding-left: 10px;
}

.item-deatils ul li:nth-child(4){
    padding-left: 0;
    width: 33%;
    text-align: end;
    padding-right: 10px;
} */
.all-items ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.all-items ul li{
    font-size: 14px;
    color: #000;
    font-weight: 400;
}
.all-items{
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 1px solid #dee1e6;
    background-color: #ffffff;
}
.all-items ul li h3{
    font-size: 14px;
    color: #000;
    font-weight: 500;

}
.all-items ul li h3 span{
    display: block;
    font-size: 12px;
    color: #666;
    padding-top: 6px;
}
.all-items ul li h3 span .fa{
    margin-right: 6px;
    color: #23be08;
    font-size: 12px
}
.all-items ul li h3 span.red .fa{
    color: red;
}
.all-items ul li h3 span.orange .fa{
    color: orange;
}

.all-items li:nth-child(2){
    min-width: 140px;
}

.all-items li:nth-child(3){
    min-width: 40px;
}
/* .all-items ul li h3 span .fa:nth-child(2){
    color: #dc3546;
} */
.all-items ul li del{
    color: #23be08;
    font-size: 15px;
}
.all-items ul li del.star{
    color: red;
}
.all-items ul li del .fa{
    font-size: 15px;
    margin-right: 6px;
}
.all-items ul li .fa{
    margin: 0 1px;
    font-size: 6px;
}
.all-product{
    background-color: #ffffff;
    padding: 8px 0;
}
 .all-product ul li a {
    color: #4762d5;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.all-product ul li a .fa{
    margin: 5px 10px 0 20px;
    font-size: 20px;
}

.all-product ul{
    display: flex;
    align-items: center;
    /* column-gap: 15px; */
}
img{
    max-width: 100%;
}
.ethereum-main{
    background-color: #ffffff;
    position: relative;
    width: 100%;
margin-bottom: 25px;
    z-index: 333;
}

.ethereum-main img{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
button.setting {
    width: 50px;
    height: 50px;
    color: #000;    color: gray;
    position: fixed;
    right: 0;
    top: 20%;
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
    font-size: 18px;
    z-index: 999999;

}
.btn-main{
    color: #4762d5;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    text-transform: uppercase;
}
.btn-main.stra{
    text-transform: capitalize;
    
}
.btn-main.stra .fa{
    padding: 0 8px 0 20px;
}
.ethereum-content {
    padding: 75px 0;
    width: 56%;
    margin: 0 0 0 auto;
}
.ethereum-content h3{
    color: #000;
}
.ethereum-content h3 span{
    font-size: 18px;
}

.ethereum-content h4{
    color: #000;
    font-size: 18px;
    padding: 5px 0;
}

.ethereum-content p{
    color: gray;
    padding-bottom: 8px;
    max-width: 295px;
    font-size: 14px;
}
.ethereum-content .fa{
    margin-left: 8px;
    color: gray;
}

.impression {
    margin-bottom: 20px;
    background-color: #fff;
    width: 100%;
    display: inline-block;
    border: 1px solid #dee1e6;
}

.impression ul{
    display: flex;
    justify-content: space-between;
}
.impression ul li {
    display: flex;
    align-items: center;
    width: 100%;
    border-right: 1px solid #dee1e6;
    padding: 15px 20px;
    column-gap: 15px;
}
.impression ul li:last-child{
    border: none;
}
.impression ul li span{
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #4863d6;
    padding-bottom: 5px;
}
.impression ul li h3{
    color: #000;
    font-size: 25px;
}
.impression ul li span.star{
    color: #23be08;
}
.impression ul li span.middle{
    color: red;
}
.impression ul li span.coman{
    color: #9c3aeb;
}


#footer-main{
    width: 100%;
    border-top: 1px solid #cfd2d7;
    display: inline-block;
    background-color: #e3e6eb;
    padding: 30px 0;
}
.copyright-content p{
    color: #95a2ab;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    padding-left: 12px;
}


